<!-- Modal -->
<div
  class="modal fade"
  id="songModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="form-group">
            <input
              type="text"
              id="title"
              class="form-control b"
              placeholder="title"
              aria-label="title"
              aria-describedby="title-addon1"
              ngModel
              name="titleInput"
              required
              #title="ngModel"
            />
            <small
              id="title-addon1"
              class="form-text text-muted b"
              *ngIf="!title.valid && title.touched"
              >Please provide a song title.
            </small>
          </div>
          <div class="form-group">
            <input
              type="text"
              id="artist"
              class="form-control"
              placeholder="artist"
              aria-label="artist"
              aria-describedby="artist-addon1"
              ngModel
              name="artistInput"
              required
              #artist="ngModel"
            />
            <small
              id="artist-addon1"
              class="form-text text-muted"
              *ngIf="!artist.valid && artist.touched"
              >Please provide a song artist.
            </small>
          </div>
          <div class="form-group">
            <input
              type="text"
              id="genre"
              class="form-control"
              placeholder="genre"
              aria-label="genre"
              aria-describedby="basic-addon1"
              ngModel
              name="genreInput"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="url"
              class="form-control"
              placeholder="link to video"
              aria-label="link to video"
              aria-describedby="basic-addon1"
              ngModel
              name="urlInput"
            />
          </div>

          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Go back
            </button>
            <button
              type="submit"
              class="btn btn-primary"
              (click)="hideModal()"
              [disabled]="!f.valid"
            >
              Add song
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
