.title {
  padding: 3rem 25rem;
}

hr {
  margin-top: -4%;
  max-width: 80%;
}

img {
  margin-top: 5%;
  margin-left: 20%;
}

.col-md-8 {
  margin-left: 10%;
}

.btn-col {
  margin-left: 12%;
}

button {
  padding: 0.5rem 22rem;
}
